<div class="main-container">
  <div class="container">
    <div class="row">
      <h1 class="col-xs-12 sample-content">Eprintwerx Public API Test Harness v1</h1>
    </div>
    <hr>

    <counter-criteria (createCounter)="onCreateCounter($event)"></counter-criteria>


      <table class="table">
        <tr>
          <th width="20%">ID</th>
          <th width="20%">Type</th>
          <th width="20%">Qty</th>
          <th width="40%">List Download</th>
        </tr>
        <tr *ngIf="items.length == 0">
          <td colspan="4">
            <div class="col-xs-12 text-center">No Data</div>
          </td>
        </tr>
        <tr *ngFor="let item of items">
          <td>{{item.id}}</td>
          <td>{{item.type}}</td>
          <td>{{item.countQty}}</td>
          <td>
            <a *ngIf="item.download" href="http:/{{item.download}}" target="_blank">Download File</a>
            <div *ngIf="!item.download">N/A</div>
          </td>
        </tr>
      </table>

    
    <list-criteria (createList)="onCreateList($event)"></list-criteria>
  </div>

</div>
